.main-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 300px; 
  gap-4
         
}
.container1{
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 300px; 
  
}


